*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

/* header section starts*/
#logo{
    height: 75px;
}

h1{
   color: #101702;
}

html{
    font-size: 80%;
   
    scroll-behavior: smooth;
}

body{
    background: #efece4;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #87a79c;
    height: 75px;
    box-shadow: 3px 3px 20px #6b7984;
}

nav{
    width: 50%;
    max-width: 300px;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

nav > ul {
    list-style-type: none;
}

ul.dropdown{
    list-style-type: none;
    position: absolute;
    top: 100%;
    background-color: #d1dfc9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
}

.header .navbar a:hover{
    color: #d5ecc7 ;

}

.dropdown:hover{
    display: block;
    
}

ul.dropdown a:hover{
    color:#101702;
}

a{
    color: #101702;
}

.header .navbar a{
    font-size: 15px;
    padding: 5px;
    margin: 0.1px;
}

/* header section ends */

section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(212, 239, 212);
    background-position: center;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 17rem;
}

.home div{
    font-size: large;
}

button{
    width: 200px;
    height: 45px;
    font-size: large;
    color: #101702;
    font-weight: 550;
}

.home .content{
    text-align: left;
}

.home .content h1{
    color: #101702;
    font-style: italic;
}

.home .content h1 > span{
    font-size: 45px;
    font-style: normal;
    color: #31430a;
}

.trending {
    text-align: center;
    font-size: large;
}

.trending h2 > span{
    color: #657642;
}

.trending .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));;
    padding: 35px;
    gap: 25px;
}

